html,
body {
  font-family: "Aldrich", sans-serif;
  margin: 5px;
  padding: 0px;
  width: 300px;
  height: auto;
}

div.container {
  margin: 0px;
  padding: 5px 5px;
}

.modal-header {
  text-align: center;
  margin-top: 0px;
  margin-right: 15px;
}
.modal-header-container h1 {
  font-size: 23px;
  text-shadow: 2px 2px 4px grey;
  color: black;
}
.modal-header-container img {
  width: 70px;
  height: auto;
  margin-bottom: 5px;
}

.modal-content {
  border-radius: 15px !important;
  text-align: center;
  border: 1px solid black;
  margin-right: 15px;
}
.modal-content p {
  margin-top: 10px;
  padding: 1.5px;
  font-size: 1rem;
}

img {
  width: auto;
  height: 20px;
}

.flex {
  margin-bottom: 2px;
}
.flex-container {
  margin: 20px 0;
}
.flex img {
  padding: 0px 5px;
}

button,
.modal-content {
  border-radius: 0.1rem;
  background-color: #e3281b;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

button {
  font-size: 15px;
  border: 1px solid black;
  width: auto;
  font-weight: bold;
  text-align: left;
  font-family: "Aldrich", sans-serif;
}
button:hover {
  transform: scale(1.1);
}

a:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

/* Style the search field for Canvas*/
form.canvasSearch input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
}

/* Style the submit button */
form.canvasSearch button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #287a9f;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.canvasSearch button:hover {
  background: #e3281b;
}

/* Clear floats */
form.canvasSearch::after {
  content: "";
  clear: both;
  display: table;
}
